<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   
</head>
<body>
    <section class="header">
        <nav>
            <a href="/route/logout"><img src="/images/logo.png"> </a>
            <div class="nav-links" id="navLinks">
                <!-- <i class="fa fa-times" onclick="hideMenu()"></i> -->
                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                <ul>
                    
                    <li><a href="/route/from_profile">HOME</a></li>
                    <li><a href="/route/standings">STANDING</a></li>
                    <li><a href="/route/all">VIEW ALL</a></li>
                    <li><a href="/route/logout">LOGOUT</a></li>
                    <!-- <li><a href="login.html">LOGIN</a></li> -->
                    <li><a href="">ABOUT</a></li>
                </ul>
            </div>
            <!-- <i class="fa fa-bars" onclick="showMenu()"></i> -->
            <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
        </nav>
    </section>

    <% if(userID) { %>

     <div class="container">
    <div class="row">
      <!-- <div class="profile-nav col-md-3"> -->
      <div class="profile-nav col">
          <div class="panel">
              <div class="user-heading round">
                  <a href="#">
                      <img src="/images/logo.png" alt="">
                  </a>
                  <h1>
                    <!-- Shows student id below the user photo -->
                    <%=userID%> 
                </h1>
              </div>
    
              <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
                  <li><a href="/route/add_problem"> <i class="fa fa-edit"></i> Add Problem</a></li>
              </ul>
          </div>
      </div>
      <!-- <div class="profile-info col-md-9"> -->
      <div class="profile-info">
          <div class="panel">
              <div class="panel-body bio-graph-info">
                  <h1>User Profile</h1>
                    </div>
                    <div class="row">
                        <div class="bio-row">
                            <p>  ID: <%=userID%> </p>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="bio-row">
                            <!-- <p>Codeforces Handle: <%=cfHandle%> </p> -->
                            <p>Codeforce Handle : <a href="https://<%=cfHandleLink%>"target="_blank" rel="noopener noreferrer"><%=cfHandle%> </a> </p>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="bio-row">
                            <!-- <p>AtCoder Handle: <%=atCoderHandle%></p> -->
                            <p>AtCoder Handle : <a href="https://<%=atcoderHandleLink%>" target="_blank" rel="noopener noreferrer"><%=atCoderHandle%> </a> </p>
                            
                        </div>                    
                    </div>
                 </div>
          <div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="panel">
                          <div class="panel-body">
                              <!-- <div class="bio-chart">
                                  <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="35" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none; background: none;"></div>
                              </div> -->
                              <div class="bio-desk">
                                <h4 class="red">Codeforces</h4>
                                <p>Rating : <%=cfRating%> </p>
                                <p>Rank : <%=cfRank%> </p>
                                <p>Solve Count : <%=cfSolveCount%> </p>
                                
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="panel">
                          <div class="panel-body">
                              <!-- <div class="bio-chart">
                                  <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="63" data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none; background: none;"></div>
                              </div> -->
                              <div class="bio-desk">
                                  <h4 class="terques">AtCoder </h4>
                                  <p>Rating : <%=atCoderRating%> </p>
                                  <p>Rank : <%=atCoderRank%> </p>
                                  <p>Solve Count : <%=atCoderSolveCount%> </p>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    
    </div>
    </form>
    <p><h3>Problems</h3></p>
    <div class="container">
        <table>
            <!-- <thead class="head">
                <tr>
                    <th>Problems</th>
                </tr>
            </thead> -->
            <tbody>
                <!-- <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                </tr> -->
                <tr>
                    
                        <%
                        if(sampleData.length>0){
                            sampleData.forEach(function (data){
                        %> 
                    
                        <td> 
                            <tr> <%= data.url %> </tr>
                            <tr><a href="/route/del_profile/<%= data.url %>"><i class="fa fa-trash" aria-hidden="true"></i></a></tr>
                            <tr> | </tr>
                        </td>
                                
                    
                </tr>
                    <%            
                        });
                    }
                    else{
                    %>
                        <tr>
                            <td colspan="2">No User Found</td>
                        </tr>
                    <%
                    }
                    %>
                </tr>
            </tbody>
        </table>
    </div>

    <%}else {%>
        <p>User Not Found!</p>
        <% } %>
    
</body>
</html>