<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cfstanding.css">
    <title> <% title %></title>
</head>
<body>
    <section class="header">
        <nav>
            <a href="/route/logout"><img src="/images/logo.png"> </a>
            <div class="nav-links" id="navLinks">
                <ul>
                    <% if(userID>-1) { %>

                        <li><a href="/route/base_logout">HOME</a></li>
                    <% }else { %>
                        <!-- <li><a href="/route/homelogin">LOGIN</a></li> -->
                        <li><a href="/route/logout">HOME</a></li>
                    <%
                    }%>
                    <!-- <li><a href="/route/base_logout">HOME</a></li> -->
                    <!-- <li><a href="">STANDING</a></li> -->
                    <!-- <li><a href="/route/all">VIEW ALL</a></li> -->
                    
                    <% if(userID>-1) { %>

                        <li><a href="/route/logout">LOGOUT</a></li>
                        <% }else { %>
                        <li><a href="/route/homelogin">LOGIN</a></li>
                        <%}
                        %>
                    <!-- <li><a href="">ABOUT</a></li> -->
                </ul>
            </div>
        </nav>
    </section>
    <h1>STANDING</h1>
    <div class="container">
        <table>
            <thead class="head">
                <tr>
                    <th>Rank</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                </tr> -->
                <tr>
                    <%
                    if(sampleData.length>0){
                        sampleData.forEach(function (data){
                    %> 
                    
                        <td> <%= data.rank %></td>
                        <td><a href="/route/to_profile/<%= data.id %>"> <%= data.id %></a></td>
                        <td> <%= data.name %></td>
                        <td><%= data.points %></td>
                    </tr>
                    <%            
                        });
                    }
                    else{
                    %>
                        <tr>
                            <td colspan="4">No User Found</td>
                        </tr>
                    <%
                    }
                    %>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>